img {
    width: 110px;
    height: auto;
}

#container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.main-container {
    display:grid;
    grid-template-columns: 5fr 1fr;
}

.shopping-cart {
    background-color: #f4f4f4;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 18px;
    padding: 15px;
    text-align: center;
}
.product-card button {
    background-color: #9597ff;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}
#buscador {
    margin: 10px 0;
    margin-top: 10px;;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}